.Chat
  .RightHeader
    .RightHeader__group
      .RightHeader__groupName
        = @group.name
        %ul.RightHeader__memberList
          Member:
          %p.RightHeader__Member
            - @group.users.each do |user|
              = user.name
    = link_to edit_group_path(@group) ,class: "RightHeader__editButton" do
      Edit

  .MessageField
    = render @messages

  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__submit'
